/* User img */
.profile-user-img {
    padding: 0px;
}

/* toastr */
.toast-info {
    background-color: #00c0ef;
}
.toast-success {
    background-color: #00a65a;
}
.toast-error {
    background-color: #dd4b39;
}
.toast-warning {
    background-color: #f39c12;
}

/* bootstrap-switch */
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    background: #00a65a;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger {
    background: #dd4b39;
}

/* other */
.asterisk {
    color: #E9573F;
}

/* pagination */
.pagination>.active>span, .pagination>.active>span:hover {
    background-color: #00a65a;
    border-color: #00a65a;
}
.pagination>li>a:hover {
    color: #00a65a;
}

/* Event style */
.butterfly-event-bg-login, .butterfly-event-bg-create, .butterfly-event-bg-update, .butterfly-event-bg-delete, .butterfly-event-bg-other {
    color: #fff !important;
}
.butterfly-event-bg-login {
    background-color: #00c0ef !important;
}
.butterfly-event-bg-create {
    background-color: #00a65a !important;
}
.butterfly-event-bg-update {
    background-color: #f39c12 !important;
}
.butterfly-event-bg-delete {
    background-color: #dd4b39 !important;
}
.butterfly-event-bg-other {
    background-color: #605ca8 !important;
}

/* DL */
dl {
    margin-bottom: 0px;
}

/* filtrate */
#filtrate .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-top: 3px;
    padding-bottom: 3px;
}